@model List<Server.Models.ClientConnectionViewModel>

@{
    ViewData["Title"] = "Clients list";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address IP</th>
            <th>Connection created date</th>
            <th>Client created date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Client.Name</td>
                <td>@item.Client.IpAddress</td>
                <td>@item.Connection.ConnectedTime</td>
                <td>@item.Client.CreatedDate</td>
                <td>
                    <a asp-action="Individual" asp-route-connectionGuid="@item.Connection.ConnectionGuid" class="btn btn-primary">Take control</a>
                    <a asp-action="Disconnect" asp-route-connectionGuid="@item.Connection.ConnectionGuid" class="btn btn-danger">Disconnect</a>
                </td>
            </tr>
        }
    </tbody>
</table>